[submodule "postgres-mcp/servers"]
	path = postgres-mcp/servers
	url = https://github.com/modelcontextprotocol/servers.git
[submodule "mcp-postgres"]
	path = mcp-postgres
	url = https://github.com/modelcontextprotocol/servers.git
[submodule "servers"]
	path = servers
	url = https://github.com/modelcontextprotocol/servers.git
[submodule "servers-archived"]
	path = servers-archived
	url = https://github.com/modelcontextprotocol/servers-archived.git
